In [3]:
# extract information with age greater than 25 from the following list of dictionaries
data = [{"name": "Alice", "age": 28}, {"name": "Bob", "age": 24}, {"name": "Charlie", "age": 30}]
extracted_data = [item for item in data if item['age'] > 25]
extracted_data

[{'name': 'Alice', 'age': 28}, {'name': 'Charlie', 'age': 30}]

In [7]:
# use list comprehension to flatten the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_matrix = [num for row in matrix for num in row]
flatten_matrix

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# use enumerate() for looping to add 5 extra point to each grade in the list, the 5th one add 10 
grades = [88, 92, 78, 65, 50, 94]
for idx, val in enumerate(grades):
    if idx == 4:
        grades[idx] = val + 10
    else:
        grades[idx] = val + 5
grades

[93, 97, 83, 70, 60, 99]

In [7]:
# print the grades if they are prime value
# Prime value is a number that can only be divided by itself and 1
grades = [88, 92, 78, 65, 50, 94]
prime_value_data = []
for grade in grades:
    if grade <= 1:
        continue
    for i in range(2, grade):
        if grade % i == 0:
            break
    else:
        prime_value_data.append(grade)
prime_value_data

[3]

In [22]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
df

   calories  duration
0       420        50
1       380        40
2       390        45

In [26]:
display(df.loc[2:3])

   calories  duration
2       390        45

In [25]:
display(df.iloc[[1]])

   calories  duration
1       380        40

In [28]:
display(df.loc['calories'])

KeyError: 'calories'

In [10]:
# filter out elements depend on their index: 
# use list comprehension and enumerate() to get elements with even index
data = [100, 200, 300, 400, 500]
even_idx_data = [val for idx, val in enumerate(data) if idx % 2 == 0]
even_idx_data

[100, 300, 500]

[100, 300, 500]

In [38]:
# create a dictionary from lists using zip()
keys = ['name', 'age', 'grade']
values = ['Alice', 25, 'A']

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [41]:
# sort the dictionary based on the ages using lambda
students = [
    {'name': "John", 'grade': "A", 'age': 20}, 
    {'name': "Jane", 'grade': "B", 'age': 21}, 
    {'name': "Joss", 'grade': "A+", 'age': 19}, 
    {'name': "Jack", 'grade': "A-", 'age': 16}, 
    {'name': "Dave", 'grade': "C", 'age': 25}, 
]

[{'name': 'Jack', 'grade': 'A-', 'age': 16},
 {'name': 'Joss', 'grade': 'A+', 'age': 19},
 {'name': 'John', 'grade': 'A', 'age': 20},
 {'name': 'Jane', 'grade': 'B', 'age': 21},
 {'name': 'Dave', 'grade': 'C', 'age': 25}]

In [43]:
# Sort by age, then by salary if ages are the same
# use lambda
employees = [
    {'name': 'Alice', 'age': 30, 'salary': 80000},
    {'name': 'Bob', 'age': 25, 'salary': 50000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
]

[{'name': 'Bob', 'age': 25, 'salary': 50000}, {'name': 'Alice', 'age': 30, 'salary': 80000}, {'name': 'Charlie', 'age': 35, 'salary': 120000}]

In [45]:
# Generators are highly useful in data-heavy applications:

# Reading Large Files: Use generators to read large files line by line without loading the entire file into memory.
# Data Streaming: Stream data entries for real-time data processing.
# Large Calculations: Break down massive calculations into smaller, more manageable chunks.